<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dashboard do Usuário</title>
    <link rel="stylesheet" href="/static/dashboard.css" />
</head>

<body>
    <div class="flash-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
    </div>

    <div class="container">
        <div class="perfil-header">
            <span class="texto-logado">Logado como: {{ session.get('email') }}</span>
        </div> 
        
        <div class="botoes-container">
            {% for usuario in usuarios %}
                {% if session.get('email')|string == usuario.email|string %}
                    <a href="{{ url_for('auth.editar_usuario', email=usuario.email) }}" class="btn-editar">Editar</a>
                {% endif %}
            {% endfor %}
            
            <a href="/logout" class="btn-sair">Sair</a>
        </div>
    </div>
</body>

</html>